.boton.sesion2::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #0714c4;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton.sesion2:hover::after{
    top: 0;
}